<footer>
  <div class="container">
    <div class="sec aboutus">
      <h2>About us</h2>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type
        specimen book.</p>
      <ul class="sci">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="sec quickLinks">
      <h2>Quick links</h2>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">About2</a></li>
        <li><a href="#">About3</a></li>
        <li><a href="#">About4</a></li>
        <li><a href="#">About5</a></li>
      </ul>
    </div>
    <div class="sec contact">
      <h2>Contact</h2>
      <ul class="info">
        <li>
          <span>&copy;Copyrights 2021</span>
        </li>
        <li>
          <span>Headquaters <br>
            Boa viagem, Rua dos gostosos, 530</span>
        </li>
        <li>
          <p><a href="mailto:NaturoGostoso@Lindo-Delicia.com">NaturoGostoso@Lindo-Delicia.com</a></p>
        </li>
        <li>
          <p> <a href="tel:+55 (85) 9548-4344">+55 (85) 9548-4344</a></p>
        </li>
      </ul>
    </div>
  </div>
</footer>
