.footer{
  display: absolute;
  bottom: 0px;
  max-height: 180px;
  height: 200px;
  overflow: hidden;
  width: 100%;
  background-image: -webkit-linear-gradient(transparent 75%, #403d39 75%);
  background-image: -moz-linear-gradient(transparent 300px,rgba(39,39,39,.5) 300px, rgba(39,39,39,.5) 100%);
  background-image: -ms-linear-gradient(transparent 300px,rgba(39,39,39,.5) 300px, rgba(39,39,39,.5) 100%);
  background-image: -o-linear-gradient(transparent 300px,rgba(39,39,39,.5) 300px, rgba(39,39,39,.5) 100%);
  
  .geometric-footer {
    margin-top: 50px;
    position: sticky;
    height: 180px;
    width: 100%;
  }

  .geometric-footer:nth-child(1) {
    border-radius: 5% / 50%;
    transform: rotate(155deg);
    left: 155px;
    width: 50%;
    background: #ccc5b9;
  }
  .geometric-footer:nth-child(2)  {
    border-radius: 5% / 50%;
    transform: rotate(155deg);
    left: 55px;
    width: 50%;
    bottom: 15px;
    background: #252422;
  }
  .geometric-footer:nth-child(3)   {
    border-radius: 50% / 5%;
    transform: rotate(24deg);
    width: 50%;
    bottom: 0px;
    background: #eb5e28;
    
  }
  .geometric-footer:nth-child(4) {
    background: #403d39;
    left: -16%;
    width: 150%;
    transform: rotate(-12deg);
    bottom: 0px;
  }

  #social-midia-footer {
    display: flex;
    position: sticky;
    height: 150px;
    justify-content: center;
    align-items: center;
    bottom: 0;

    #facebook-icon {
      width: 40px;
      height: 40px;
      margin: 2em .5em 0;
    }
  }
}
