<footer>
  <div class="footer">
    <div class="geometric-footer"> </div>
    <div class="geometric-footer"> </div>
    <div class="geometric-footer"> </div>
    <div class="geometric-footer"> </div>
    <div id="social-midia-footer">
      <a href="#">
        <img id="social-midia-icon" src="../../assets/facebook-square-brands.svg">
      </a>
      <a href="#">
        <img id="social-midia-icon" src="../../assets/discord-brands.svg">
      </a>
      <a href="#">
        <img id="social-midia-icon" src="../../assets/instagram-brands.svg">
      </a>
    </div>
    <div id="copy-right-footer">
      <p>© Copyright 2021 Aniheart - All Rights Reserved</p>
    </div>
  </div>
</footer>
