<div class="container d-flex">
    <div class="overview">
        <div class="row title-manga">
            <h3>One Piece</h3>
        </div>
        <div class="row subtitle-manga">
            <h4>Wano Kuni</h4>
        </div>
        <div class="row">
            <div class="row overview-text">
                <p> Abra o mapa sem fronteiras rumo ao destino sem fim, vamos partir, içar velas
                    Vamos partir, içar velas, não desista, quando estou determinado eu nunca vou retroceder.
                    Abra o mapa sem fronteiras rumo ao destino sem fim, vamos partir, içar velas
                    Vamos partir, içar velas, não desista, quando estou determinado eu nunca vou retroceder.
                    Abra o mapa sem fronteiras rumo ao destino sem fim, vamos partir, içar velas
                    Vamos partir, içar velas, não desista, quando estou determinado eu nunca vou retroceder.
                    
                </p>
            </div>
            <div class="row">
                <div class="chapters">
                    <span class="current-chapter">
                        1000
                    </span>
                    <hr class="divisor-hr">
                    <span class="view-all-chapter">
                        ALL
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="chapters">
        
    </div>
</div>
